@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .auth-buttons {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .planet-gallery {
    flex-direction: column;
    align-items: center;
  }

  .planet-gallery img {
    width: 90%;
    height: auto;
  }

  .form-box {
    width: 90%;
  }
}
